body {
  background: #7a86cb;
  text-align: center;
  padding: calc(50vh - 100px) 0;
  overflow: hidden;
}

.text-wrapper {
  font-size: 36px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

h1:before {
  content: "";
  display: block;
  border-bottom: 2px solid #6849e3;
  width: 0;
  position: absolute;
  right: calc(50vw - 200px);
  transition: 1s ease;
}

h1:hover:before {
  width: 400px;
}

h1:after {
  content: "";
  display: block;
  border-bottom: 2px solid #6849e3;
  width: 0;
  position: absolute;
  left: calc(50vw - 200px);
  transition: 1s ease;
}

h1:hover:after {
  width: 400px;
}

h1 {
  font-family: "Merriweather", serif;
  color: #6849e3;
  letter-spacing: 5px;
  padding: 0;
  transition: color 1s, letter-spacing 1s;
}

h1:hover {
  font-family: "Merriweather", serif;
  color: white;
  letter-spacing: 0px;
  transition: color 1s, letter-spacing 1s;
}
